.container {
    padding: 16px;
    width: 50%;
    margin-left: 20%;
    border-style: solid;
    border-color:rgb(216, 219, 224);
    border-radius: 25px; 
    background-color:rgb(216, 219, 224);
  }